@use "./variables" as f;

footer {
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    p {
      color: rgba(255, 255, 255, 0.5);
      font-family: f.$Barlow;

      a {
        color: rgba(255, 255, 255, 0.8);
        transition: color 0.5s;

        &:hover {
          color: f.$white;
        }
      }
    }
  }
}

@media (width >= 201px) and (width <= 500px) {
  footer {
    padding: 2rem;
  }
}

@media (width >= 501px) and (width <= 1023px) {
  footer {
    padding: 3rem 0;
  }
}

@media (width >= 1024px) {
  footer {
    padding: 2rem 0;
  }
}

