@use "./variables" as h;

header {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .content {
    padding: 1rem 0.5rem;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.menu-close,
.menu-open {
  img {
    width: 2.4rem;
  }
}

.menu-mobile {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(4rem);
  min-height: 100vh;
  width: 0;
  display: flex;
  flex-direction: column;
  gap: 6rem;
  visibility: hidden;
  overflow: hidden;
  transition: all 0.5s;

  ul {
    width: calc(60% - 80%);
  }
}

.menu-desktop,
.menu-mobile {
  ul {
    li {
      a {
        text-transform: uppercase;
        color: h.$white;
        font-family: h.$BarlowCondensed;
        display: flex;
        align-items: center;
        transition: all 0.5s;

        span {
          color: rgba(255, 255, 255, 0.5);
          font-weight: 700;
        }
      }
    }
  }
}

.menu-desktop {
  ul {
    display: flex;
    align-items: center;

    li {
      display: flex;
      align-items: center;

      a {
        padding: 1.5rem 0;

        &:hover,
        &.active {
          border-bottom: 0.3rem solid h.$white;
        }
      }
    }
  }
}

@media (width >= 201px) and (width <= 500px) {
  .logo {
    img {
      width: 4rem;
    }
  }

  .menu-desktop {
    display: none;
  }

  .menu-mobile {
    padding: 5rem 3rem;

    &.open {
      width: 70vw;
      visibility: visible;
    }

    ul {
      position: absolute;
      top: 12rem;
      left: 3rem;
      display: flex;
      flex-direction: column;
      gap: 3.2rem;

      li {
        a {
          gap: 1.1rem;
          font-size: calc(1.3rem - 1.6rem);
          line-height: 1.9rem;
          letter-spacing: 0.27rem;

          span {
            color: rgba(255, 255, 255, 0.5);
          }

          &.active {
            border-right: 0.3rem solid h.$white;
          }

          &:hover {
            border-right: 0.3rem solid h.$white;
          }
        }
      }
    }
  }

  .menu-close {
    position: absolute;
    right: calc(0rem - -3rem);
  }
}

@media (width >= 501px) and (width <= 1023px) {
  .menu-mobile,
  .menu-open {
    display: none;
  }

  .menu-desktop {
    display: block;

    ul {
      gap: 3.9rem;

      li {
        a {
          font-size: calc(1.1rem - 1.4rem);
          letter-spacing: 0.236rem;
          span {
            display: none;
          }
        }
      }
    }
  }
}

@media (width >= 1024px) {
  .menu-mobile,
  .menu-open {
    display: none;
  }

  .menu-desktop {
    ul {
      gap: 4.9rem;

      li {
        a {
          gap: 1.4rem;
          font-size: calc(1.3rem - 1.6rem);
          line-height: 1.9rem;
          letter-spacing: 0.27rem;
        }
      }
    }
  }
}

aaaa 